@font-face {
    font-family: 'SVN-MontLight';
    src: url('../fonts/SVN-MontLight.woff2') format('woff2'),
        url('../fonts/SVN-MontLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'SVN-MontThinItalic';
    src: url('../fonts/SVN-MontThinItalic.woff2') format('woff2'),
        url('../fonts/SVN-MontThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'SVN-MontItalic';
    src: url('../fonts/SVN-MontItalic.woff2') format('woff2'),
        url('../fonts/SVN-MontItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'SVN-Mont';
    src: url('../fonts/SVN-Mont.woff2') format('woff2'),
        url('../fonts/SVN-Mont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'SVN-MontThin';
    src: url('../fonts/SVN-MontThin.woff2') format('woff2'),
        url('../fonts/SVN-MontThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'SVN-MontBlackItalic';
    src: url('../fonts/SVN-MontBlackItalic.woff2') format('woff2'),
        url('../fonts/SVN-MontBlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'SVN-MontSemiBoldItalic';
    src: url('../fonts/SVN-MontSemiBoldItalic.woff2') format('woff2'),
        url('../fonts/SVN-MontSemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'SVN-TheUntoldStory';
    src: url('../fonts/SVN-TheUntoldStory.woff2') format('woff2'),
        url('../fonts/SVN-TheUntoldStory.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'SVN-MontSemiBold';
    src: url('../fonts/SVN-MontSemiBold.woff2') format('woff2'),
        url('../fonts/SVN-MontSemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'SVN-MontBold';
    src: url('../fonts/SVN-MontBold.woff2') format('woff2'),
        url('../fonts/SVN-MontBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'SVN-MontBook';
    src: url('../fonts/SVN-MontBook.woff2') format('woff2'),
        url('../fonts/SVN-MontBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'SVN-MontExtraLightItalic';
    src: url('../fonts/SVN-MontExtraLightItalic.woff2') format('woff2'),
        url('../fonts/SVN-MontExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'SVN-MontExtraLight';
    src: url('../fonts/SVN-MontExtraLight.woff2') format('woff2'),
        url('../fonts/SVN-MontExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'SVN-MontBoldItalic';
    src: url('../fonts/SVN-MontBoldItalic.woff2') format('woff2'),
        url('../fonts/SVN-MontBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'SVN-MontBlack';
    src: url('../fonts/SVN-MontBlack.woff2') format('woff2'),
        url('../fonts/SVN-MontBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'SVN-MontHairline';
    src: url('../fonts/SVN-MontHairline.woff2') format('woff2'),
        url('../fonts/SVN-MontHairline.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'SVN-MontBookItalic';
    src: url('../fonts/SVN-MontBookItalic.woff2') format('woff2'),
        url('../fonts/SVN-MontBookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'SVN-MontHairlineItalic';
    src: url('../fonts/SVN-MontHairlineItalic.woff2') format('woff2'),
        url('../fonts/SVN-MontHairlineItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'SVN-MontLightItalic';
    src: url('../fonts/SVN-MontLightItalic.woff2') format('woff2'),
        url('../fonts/SVN-MontLightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: 'SVN-MontHeavy';
    src: url('../fonts/SVN-MontHeavy.woff2') format('woff2'),
        url('../fonts/SVN-MontHeavy.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'SVN-MontHeavyItalic';
    src: url('../fonts/SVN-MontHeavyItalic.woff2') format('woff2'),
        url('../fonts/SVN-MontHeavyItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: fallback;
}


@font-face {
    font-family: 'SVN-Jeko-ExtraBold';
    src: url('../fonts/SVN-Jeko-ExtraBold.woff2') format('woff2'),
        url('../fonts/SVN-Jeko-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'SVN-Jeko-SemiBold';
    src: url('../fonts/SVN-Jeko-SemiBold.woff2') format('woff2'),
        url('../fonts/SVN-Jeko-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'SVN-Jeko';
    src: url('../fonts/SVN-Jeko-Medium.woff2') format('woff2'),
        url('../fonts/SVN-Jeko-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'SVN-Jeko-Black';
    src: url('../fonts/SVN-Jeko-Black.woff2') format('woff2'),
        url('../fonts/SVN-Jeko-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'SVN-Jeko-Bold';
    src: url('../fonts/SVN-Jeko-Bold.woff2') format('woff2'),
        url('../fonts/SVN-Jeko-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

