// css components

.buzzmetrics-masthead {
    background: url(../imgs/bg-food.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    &-content {
        padding-top: 112px;
        padding-bottom: 56px;
        @include sm {
            padding-top: 96px;
            padding-bottom: 40px;
        }
        @include xs {
            padding-top: 70px;
            padding-bottom: 32px;
        }
    }
    &-title {
        font-family: $svnJekoBold;
        font-size: 30px;
        line-height: 110%;
        color: $text-title-yellow;
        text-align: center;
        margin-bottom: 32px;
        @include sm {
            font-size: 19.2px;
            line-height: 124%;

        }
        @include xs {
            font-size: 15.36px;
            line-height: 124%;
            margin-bottom: 24px;
        }
    }
    &-number {
        font-family: $svnJekoBold;
        font-size: 144px;
        line-height: 100%;
        font-weight: 900;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: $text-title-yellow;
        margin-bottom: 32px;
        @include sm{
            font-size: 73.24px;
            line-height: 110%;
            letter-spacing: 0;
        }
        @include xs{
            font-size: 58.59px;
            line-height: 110%;
            margin-bottom: 24px;
        }
    }
    &-text {
        font-family: $svnJekoBold;
        font-size: 24px;
        line-height: 124%;
        text-align: center;
        color: $white-cl;
        @include sm{
            font-size: 15.36px;
            line-height: 124%;
        }
        @include xs{
            font-size: 12.29px;
            line-height: 124%;
        }
    }
    &-desc{
        font-family: $svnJeko;
        font-size: 24px;
        line-height: 124%;
        text-align: center;
        color: $white-cl;
        margin-top: 32px;
        @include sm{
            font-size: 15.36px;
            line-height: 130%;
            margin-top: 24px;
        }
        @include xs{
            font-size: 12.29px;
            line-height: 110%;
            margin-top: 16px;
        }
    }
}

.buzzmetrics-discussion {
    background: $text-cl-light;
    &-inner {
        display: flex;
        justify-content: space-between;
        padding-top: 56px;
        padding-bottom: 56px;
        @include sm {
            padding-top: 40px;
            padding-bottom: 40px;
        }
        @include xs {
            padding-top: 32px;
            padding-bottom: 32px;
            flex-direction: column;
        }
    }
    &-box{
        @include sm {
            display: flex;
            align-items: center;
        }
        @include xs {
            justify-content: center;
        }
    }
    &-icon {
        position: relative;
        padding-right: 20px;
        img{
            @include sm {
                max-width: 167px;
                width: 100%;
            }
        }
        @include xs {
            text-align: center;
            margin-bottom: 20px;
        }
        &-text {
            font-family: $theUntoldStory;
            font-size: 59.72px;
            line-height: 116%;
            width: 100%;
            text-align: center;
            color: $text-title-blue;
            position: absolute;
            top: 52%;
            left: 50%;
            transform: translate(-50%, -48%);
            @include sm {
                font-size: 30px;
                line-height: 110%;
                left: 47%;
                transform: translate(-53%, -48%);
            }
            
        }
    }
    &-content {
        text-align: center;
        max-width: 955px;
        width: 100%;
        &-icon {
            display: inline-block;
            position: relative;
            margin-top: 32px;
            margin-bottom: 32px;
            img{
                @include sm{
                    max-width: 210px;
                    width: 100%;
                }
            }
            @include xs {   
                margin-top: 16px;
                margin-bottom: 16px;
            }
        }
        &-number {
            position: absolute;
            top: 46px;
            left: 51%;
            transform: translateX(-49%);
            font-family: $theUntoldStory;
            font-size: 46.88px;
            line-height: 110%;
            text-align: center;
            color: $text-blue-cl;
            @include sm {   
                top: 30px;
                font-size: 30px;
            }
        }
        &-text {
            font-family: $svnJekoBold;
            font-size: 24px;
            line-height: 130%;
            text-align: center;
            color: $text-blue-cl;
            @include sm {
                font-size: 15.36px;
                line-height: 124%;
            }
            @include xs {
                font-size: 12.29px;
            }
        }
        &-desc {
            @include text(24px, SVN-Jeko, 29.76px, $text-blue-cl, none);
            margin: 16px 0;
            span {
                font-weight: 700;
            }
            &:last-child {
                margin-bottom: 0;
            }
            @include sm {
                font-size: 15.36px;
                line-height: 19.97px;
            }
        }

    }
}

.buzzmetrics-heading {
    display: flex;
    align-items: flex-start;
    margin-bottom: 32px;
    &-icon {
        padding-right: 20px;
        img{
            image-rendering: -webkit-optimize-contrast;
            transform: translateZ(0px);
            filter: blur(0px);
            width: 90px;
            @include sm {
                width: 50px;
            }
        }
        @include sm {
            padding-right: 18px;
        }
    }
    &-text {
        font-family: $svnJeko;
        font-size: 24px;
        line-height: 124%;
        @include sm {
            font-size: 15.36px;
            line-height: 130%;
        }
        @include xs {
            font-size: 12.29px;
            line-height: 110%;
        }
    }
}

.buzzmetrics-chart-image{
    text-align: center;
    img{
        image-rendering: -webkit-optimize-contrast;
        transform: translateZ(0px);
        filter: blur(0px);
        width: 100%;
    }
}
.buzzmetrics-chart-base{
    font-family: $svnJekoBold;
    font-size: 15.36px;
    line-height: 110%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $text-title-blue;
    padding-bottom: 16px;
    @include sm {
        font-size: 12.3px;
    }
    @include xs {
        font-size: 7.86px;
    }
}


.buzzmetrics-btn-see-more{
    display: flex;
    justify-content: center;
    padding: 24px 0;
    a{
        border: 2px solid #36409E;
        box-sizing: border-box;
        border-radius: 999px;
        font-family: $svnJeko;
        font-style: normal;
        font-weight: 900;
        font-size: 19.2px;
        line-height: 124%;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: #36409E;
        padding: 8px 32px;
        transition: 0.3s all ease-in-out;
        @include xs {
            font-size: 12.29px;
        }
        &:hover {
            transition: 0.3s all ease-in-out;
            border-color: transparent;
            color: #FAFAFA;
            background-color: #36409e;
        }
    }
}