// css button, title, icon, elements...
.py-56 {
    padding: 56px 0;
    @include sm {
        padding: 40px 0;
    }
    @include xs {
        padding: 32px 0;
    }
}
h2.title-main {
    @include text(50px, SVN-TheUntoldStory, 110%, $text-title-light, uppercase);
    &.--style-1 {
        @include text(50px, SVN-MontBold, 110%, $text-title-light, uppercase);
    }
    @include xs {
        font-size: 30px;
    }
}
.text-center {
    text-align: center !important;
}
.text-left {
    text-align: left !important;
}
.text-right {
    text-align: right !important;
}
.text-justify {
    text-align: justify !important;
}
.--bg-blue {
    background: #2b337e;
}
.--bg-blue-light {
    background: #dfe2ff;
}
.--bg-white-light {
    background: #fafafa;
}
.--bg-yellow {
    background: #f9dc86;
}
.--bg-yellow-light {
    background: #fefaee;
}
.title-main {
    font-family: SVN-TheUntoldStory;
    font-size: 46.88px;
    line-height: 51.57px;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 40px;
    &.--title-yellow {
        color: #eab313;
    }
    &.--title-blue-light {
        color: #36409e;
    }
    &.--title-blue-medium {
        color: #2b337e;
    }
    &.--title-blue {
        color: #20265f;
    }
    &.--title-white {
        color: #ffffff;
    }
    @include sm {
        font-size: 30px;
        line-height: 33px;
    }
    @include xs {
        font-size: 22px;
        line-height: 24.2px;
        margin-bottom: 24px;
    }
}
.text-main {
    font-family: SVN-Jeko;
    font-size: 24px;
    line-height: 29.76px;
    &__title {
        font-weight: 700;
        margin-bottom: 8px;
    }
    &.--text-white {
        color: #fff;
    }
    &.--text-blue-light {
        color: #36409e;
    }
    &.--text-blue {
        color: #20265f;
    }
    &.--text-blue-medium {
        color: #2b337e;
    }
    @include sm {
        font-size: 16px;
        line-height: 20px;
    }
    @include xs {
        font-size: 13px;
        line-height: 14px;
    }
}
.discover-more {
    width: 100%;
    position: fixed;
    transition: 0.3s;
    bottom: 0;
    z-index: 99;
    background: #fff;
    padding: 20px 0;
    .title-discover {
        @include text(26px, SVN-Jeko, 51.57px, #36409e, uppercase);
        font-weight: 900;
        text-align: center;
        margin-bottom: 15px;
    }
    .bg-discover {
        background: #dfe2ff;
        border-radius: 20px;
        padding: 20px;
        @include xs {
            padding: 20px;
        }
        .col-lg-3 {
            display: contents;
            @include sm {
                display: unset;
            }
        }
    }
    .discover-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .discover-item {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            &__link {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            &__icon {
                width: 40px;
                height: 40px;
                background: #36409e;
                border-radius: 999px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 16px;
                img {
                    width: 20px;
                }
                // @include sm {
                //     width: 70px;
                //     height: 70px;
                //     img {
                //         width: 30px;
                //     }
                // }
                // @include xs {
                //     width: 50px;
                //     height: 50px;
                //     img {
                //         width: 20px;
                //     }
                // }
            }
            &__text {
                @include text(14px, SVN-Jeko, 19.05px, #20265f, none);
                font-weight: 700;
                text-align: center;
                @include sm {
                    max-width: 124px;
                }
                @include xs {
                    @include text(12.29px, SVN-Jeko, 15.24px, #20265f, none);
                }
            }
        }
        .discover-item__link {
            &:hover {
                transition: 0.3s;
                .discover-item__icon {
                    transition: 0.3s;
                    background: #2b337e;
                    box-shadow: 8px 6px 20px rgba(0, 0, 0, 0.2);
                }
            }
            &.active-discover {
                .discover-item__icon {
                    transition: 0.3s;
                    background: #20265f;
                    box-shadow: 8px 6px 20px rgba(0, 0, 0, 0.2);
                }
            }
        }
    }
    @media (max-width: 446px) {
        .col-lg-3 {
            padding: 0 8px;
        }
        // .discover-list{
        //     flex-wrap: wrap;
        // }
    }
    @include xs {
        position: unset;
        .col-lg-3 {
            margin-bottom: 15px;
            &:nth-child(3),
            &:nth-child(4) {
                margin-bottom: 0;
            }
        }
    }
    &.active {
        position: unset;
        // visibility: visible;
        transition: 0.3s;
    }
}

.overlay-popup {
    z-index: 101;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
.luckynumber-popup {
    z-index: 999;
    width: 850px;
    position: fixed;
    top: 50%;
    left: 50%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    background: #fefefe;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    border-radius: 16px;
    transform: translate(-50%, -50%);
    padding: 84px 59px 40px 59px;
    @include sm {
        padding: 76px 20px 40px 20px;
    }
    @include sm {
        padding: 62px 41px 32px 41px;
    }
    &__title {
        @include text(37.5px, SVN-Jeko, 49px, #36409e, none);
        font-weight: 900;
        text-align: center;
        max-width: 562px;
        width: 100%;
        margin: 0 auto;
        @include sm {
            font-size: 30px;
            line-height: 39px;
        }
        @include xs {
            font-size: 19.2px;
            line-height: 24.96px;
        }
    }
    &__form {
        margin-top: 40px;
        @include sm {
            margin-top: 32px;
        }
    }
    .information-form {
        &-button {
            display: flex;
            justify-content: center;
            margin-top: 32px;
        }
        form {
            width: 100%;
            background-color: transparent;
            padding: 0;
            box-shadow: none;
            border-radius: 0;
            @include sm {
                flex-direction: column;
            }
            @include sm {
                margin-bottom: 24px;
            }
            .form-group {
                flex-direction: column;
                background: transparent;
                padding: 0 30px;
                @include sm {
                    margin-bottom: 32px;
                    padding: 0;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                @include sm {
                    margin-bottom: 24px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                label {
                    text-align: start;
                }
                &-input img {
                    margin-top: 5px;
                }
            }
        }
    }
    .btn-search {
        font-family: $svnJeko;
        font-weight: 900;
        font-size: 19.2px;
        line-height: 124%;
        text-transform: uppercase;
        color: #36409e;
        background: transparent;
        border-radius: 999px;
        padding: 8px 32px;
        text-align: center;
        cursor: pointer;
        transition: 0.3s;
        border: 2px solid #36409e;
        border-radius: 999px;
        @include xs {
            font-size: 12.3px;
            line-height: 124%;
        }

        &:hover {
            transition: 0.3s;
            border-color: transparent;
            color: #fafafa;
            background-color: #36409e;
            box-shadow: 2px 8px 12px rgba(105, 116, 216, 0.5);
        }
        &:active {
            border-color: transparent;
            color: #fafafa;
            background: #2b337e;
            box-shadow: 2px 8px 24px 4px rgba(105, 116, 216, 0.5);
            transition: 0.3s;
        }
    }
    &__social {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        &-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: 0.3s;
            .icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 80px;
                height: 80px;
                background: #ededed;
                border-radius: 999px;
                transition: 0.3s;
                img {
                    width: 26px;
                }
                @include xs {
                    width: 60px;
                    height: 60px;
                }
            }
            .icon-text {
                margin-top: 8px;
                text-align: center;
                @include text(12.29px, SVN-Jeko, 13.52px, #2b337e, none);
            }
            &:hover {
                .icon {
                    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
                    transition: 0.3s;
                }
            }
            @include xs {
                margin-bottom: 8px;
            }
        }
    }
    &__form {
        &-title {
            text-align: center;
            @include text(
                15.36px,
                SVN-Jeko,
                19.97px,
                rgba(61, 90, 128, 0.5),
                none
            );
            margin-top: 37px;
            margin-bottom: 11px;
            @include xs {
                margin-top: 20px;
            }
        }
        .form-group {
            background: rgba(157, 157, 157, 0.04);
            border-radius: 16px;
            padding: 13px 16px;
            display: flex;
            @include text(
                12.29px,
                SVN-Jeko,
                13.52px,
                rgba(61, 90, 128, 0.5),
                none
            );
            input {
                border: 0;
                width: 100%;
                background-color: transparent;
                @include text(
                    12.29px,
                    SVN-Jeko,
                    13.52px,
                    rgba(61, 90, 128, 0.5),
                    none
                );
                &::-webkit-input-placeholder {
                    /* Edge */
                    color: rgba(61, 90, 128, 0.5);
                }

                &:-ms-input-placeholder {
                    /* Internet Explorer 10-11 */
                    color: rgba(61, 90, 128, 0.5);
                }

                &::placeholder {
                    color: rgba(61, 90, 128, 0.5);
                }
                &:focus {
                    outline: none;
                }
            }
            .ic-copy {
                margin-right: 4px;
            }
        }
    }
    &__close {
        position: absolute;
        top: 20px;
        right: 20px;
        background: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        // border-radius: 50%;
        cursor: pointer;
        font-family: SVN-Jeko;
        font-style: normal;
        font-weight: bold;
        font-size: 19.2px;
        line-height: 124%;
        text-align: right;
        color: #2B337E;
        img {
            width: 12px;
            margin-left: 8px;
        }
        @include xs {
            font-size: 12.29px;
            line-height: 124%;
            top: 15px;
            right: 15px;
        }
    }
    @include sm {
        width: 480px;
    }
    @include xs {
        width: 350px;
    }
    @media screen and (max-width: 376px){
        width: 320px;
    }
    @media screen and (max-width: 321px){
        width: 280px;
    }
    &.active {
        display: block;
    }
}
