.footer {
    padding: 40px 0;
    &__logo {
        img {
            width: 222px;
        }
    }
    &__copyright {
        padding: 16px 0;
        p {
            @include text(24px, SVN-Jeko, 124%, #4a4a4d, none);
            text-align: center;
            @include sm {
                font-size: 20px;
            }
            @include xs {
                font-size: 14px;
            }
        }
    }
    &__social {
        display: flex;
        &-item {
            a {
                svg {
                    transform: scale(1);
                    transition: 0.3s;
                }
                &:hover {
                    svg {
                        transform: scale(1.2);
                        transition: 0.3s;
                    }
                }
            }
            &:last-child {
                margin-left: 24px;
            }
        }
    }
    @include sm{
        padding: 24px 0;
    }
    @include xs{
        padding: 16px 0;
    }
}
