/*===== HEADER =====*/
.header {
    --z-fixed: 100;
    --header-height: 56px;
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $white-cl;
    transition: height 0.3;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.15);
    &.bg-header {
        --header-height: 60px;
        transition: height 0.3;
    }

    &__logo {
        color: $white-cl;
        img {
            width: 200px;
        }
    }
    &__toggle {
        font-size: 2rem !important;
        color: $text-cl;
        cursor: pointer;
    }

    /*===== NAV =====*/
    @media screen and (max-width: 992px) {
        .container-fluid {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .overlay {
                display: none;
                width: 100%;
                height: 100vh;
                position: fixed;
                top: 0;
                right: 100%;
                overflow: hidden;
                background-color: rgba(0, 0, 0, 0.514);
            }
            .nav {
                position: fixed;
                top: 0;
                right: -100%;
                color: $white-cl;
                width: 320px;
                height: 100vh;
                padding: 1.5rem 0;
                z-index: var(--z-fixed);
                transition: 0.5s;
                background: #fff;
                @include xs {
                    width: 205px;
                }
                &__item {
                    margin-top: 1.2rem;
                }
                &__link {
                    width: fit-content;
                    display: block;
                }
                &__menu {
                    align-self: center;
                    display: initial;
                    justify-content: center;
                    align-items: center;
                    position: initial;
                    top: initial;
                    left: initial;
                    transform: initial;
                }
                &__btn {
                    display: none;
                }
            }
            .right {
                margin-bottom: 40px;
                padding: 0 8px;
                .lang {
                    justify-content: start;
                }
            }
            .header-right {
                @include sm {
                    display: block !important;
                }
            }
        }
    }

    .nav {
        &__content {
            padding: 10px 20px;
        }
        &__close {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 1.3rem;
            width: 40px;
            height: 40px;
            @include mid(true);
            color: #6974d8;
            border-radius: 50%;
            cursor: pointer;
        }
        &__name {
            display: block;
            color: $white-cl;
            img {
                width: 222px;
            }
            @include sm {
                display: none;
            }
        }
        &__profesion {
            font-size: $fz-text-m;
        }
        &__menu {
            height: 100%;
            align-self: center;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &__list {
            height: 100%;
        }
        &__item {
            margin: 2.5rem 0;
            padding: 0rem 0.8rem;
            height: 100%;
            @include sm {
                padding: 0;
            }
        }
        &__link {
            color: #4a4a4d;
            font-size: 24px;
            font-family: SVN-Mont;
            transition: 0.3s;
            white-space: nowrap;
            position: relative;
            @include mid(true);
            @include sm {
                padding-left: 30px;
            }
            @include xs {
                padding-left: 15px;
                font-size: 18px;
            }
            &::after {
                content: "";
                width: 100%;
                height: 8px;
                @include mid(true);
                background-color: #6974d8;
                position: absolute;
                left: 0;
                top: -12px;
                @include transform(scaleX(0) translateX(50%));
                @include transform-origin(left center);
                @include transition($t cubic-bezier(0.82, 0.44, 0.23, 0.86));
                @include sm {
                    width: 8px;
                    height: 100%;
                    left: 0;
                    top: 0;
                    @include transform(scaleX(0) translateY(0%));
                    @include transform-origin(left);
                }
            }
            &:hover {
                color: #36409e;
                transition: 0.3s;
                &::after {
                    @include transform(scaleX(1) translateX(0%));
                    @include transform-origin(left center);
                    @include transition(
                        $t cubic-bezier(0.82, 0.44, 0.23, 0.86)
                    );
                }
            }
            // &:hover {
            //     transition: 0.3s;
            //     color: $text-cl;
            // }
        }
        &__social {
            padding-top: 0.5rem;

            &-icon {
                font-size: 1.2rem;
                color: $white-cl;
                margin-right: 1rem;

                &:hover {
                    color: var(--first-color);
                }
            }
        }
        &__btn {
            transition: 0.3s;
            transform: scale(1);
            &:last-child {
                margin-left: 24px;
            }
            &:hover {
                transition: 0.3s;
                transform: scale(1.2);
                @include sm {
                    transform: scale(1);
                }
            }
        }
    }
    /*Aparecer menu*/
    .show {
        right: 0% !important;
    }
    .d-block {
        display: block !important;
        right: 0% !important;
    }

    /*Active menu*/
    .active {
        color: #36409e !important;
        font-family: SVN-MontBold;
        &::after {
            @include transform(scaleX(1) translateX(0%));
            @include transform-origin(left center);
            @include transition($t cubic-bezier(0.82, 0.44, 0.23, 0.86));
        }
    }

    /*===== MEDIA QUERIES =====*/
    @media screen and (min-width: 993px) {
        &__logo,
        &__toggle {
            display: none;
        }
        .container-fluid {
            position: relative;
        }
        .nav {
            width: 100%;
            &__content {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            &__close,
            &__profesion {
                display: none;
            }
            &__perfil {
                display: flex;
                align-items: center;
            }
            &__img {
                width: 32px;
                height: 32px;
                margin-right: 0.5rem;
                margin-bottom: 0;
                align-items: center;

                & img {
                    width: 26px;
                }
            }

            &__list {
                display: flex;
            }
            &__item {
                margin: 0 0.1rem;
            }
            &__link {
                padding: 0 30px;
                border-radius: 0.25rem;

                &:hover {
                    background-color: var(--first-color);
                }
            }
            &__menu {
                align-self: center;
                display: initial;
                justify-content: center;
                align-items: center;
                position: initial;
                top: initial;
                left: initial;
                transform: initial;
            }
        }
        .active {
            background-color: var(--first-color);
            color: $white-cl;
        }
    }

    @media screen and(min-width: 1024px) {
        .bd-grid {
            margin-left: auto;
            margin-right: auto;
        }
    }
    @include xs {
        --header-height: 38px;
        .header__logo {
            img {
                width: 164px;
            }
        }
        .header__toggle {
            img {
                width: 30px;
            }
        }
    }
}
