@-ms-viewport {
    width: device-width;
}
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
a {
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
html,
body {
    width: 100%;
    // max-width: $container-max-width;
    margin: auto;
    @include text($fz-text, $font-main, $lh-text, $text-black-cl, none);
    scroll-behavior: smooth;
    position: relative;
    @include customscroll();
    --pdSection: 90px;
    main{
        overflow: hidden;
    }
    .mainwrapper {
        width: 100%;
        margin: auto;
        overflow: hidden;
        @include visible;
        section {
            &.pd-b {
                padding-bottom: 60px;
                @include xs{
                    padding-bottom: 30px;
                }
            }
        }
    }
    .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        @media screen and (max-width: 1310px) {
            padding-right: 30px;
            padding-left: 30px;
        }
    }
    .container-fluid {
        width: 100%;
        padding-right: 30px;
        padding-left: 30px;
        margin-right: auto;
        margin-left: auto;
        @include xs {
            padding-right: 15px;
            padding-left: 15px;
        }
    }
    .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
    .no-gutters {
        margin-right: 0;
        margin-left: 0;
    }
    .no-gap > .col,
    .no-gap > [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }

    @media (min-width: $xxs-min) {
        .container {
            // max-width: 540px;
        }
    }
    @media (min-width: $xs-min) {
        .container {
            // max-width: 720px;
        }
    }
    @media (min-width: $sm-min) {
        .container {
            // max-width: 960px;
        }
    }
    @media (min-width: $md-min) {
        .container {
            max-width: $container-width;
        }
    }

    @include lg {
        // CSS responsive large desktop
    }
    @include md {
        // CSS responsive desktop
    }
    @include sm {
        // CSS responsive tablet
        --pdSection: 50px;
    }
    @include xs {
        // CSS responsive mobile
        --pdSection: 40px;
    }
    @include xxs {
        // CSS responsive small mobile
    }

    @media (max-width: 500px) {
    }

    @include maxW(500px) {
    }
}
.px-xl-0{
    @media screen and (min-width: $lg-max) {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.buzzmetrics-heading {
    &-secondary {
        font-family: $theUntoldStory;
        font-size: 46.88px;
        line-height: 110%;
        text-align: center;
        @include sm {
            font-size: 30px;
            line-height: 110%;
        }
        @include xs {
            font-size: 24px;
        }
    }
}