/*primary font-family*/
$svnMontBold:'SVN-MontBold','Arial','sans-serif';
$svnMont:'SVN-Mont','Arial','sans-serif';
$theUntoldStory:'SVN-TheUntoldStory','Arial','sans-serif';
$svnJeko:'SVN-Jeko','Arial','sans-serif';
$svnJekoBold:'SVN-Jeko-Bold','Arial','sans-serif';

/*primary colors*/
$white-cl: #fff;
$black-cl: #000;
$hover-cl: #e9f2ff;
$black-light-cl: #e9f2ff;

/*global text color*/
$text-cl: #dfe2ff;
$text-cl-light: #fefaee;
$text-cl-content: #E9F0F1;
$text-blue-cl: #20265f;
$text-black-cl: #1d1d20;
$text-title-light: #f9dc86;
$text-title-yellow-bold: #eab313;
$text-title-yellow: #f7cd52;
$text-title-blue: #2b337e;
$text-title-blue-light: #36409E;
$text-des-cl: #555555;
$text-title-blue-cl: #6974D8;

/*global bg color*/
$bg-orange-cl: #ff9900;
$main-bg-cl: #10213d;
$black-bg-cl: #111111;
$white-bg-cl: #FAFAFA;
$yellow-bg-cl: #FDF0CB;
$blue-bg-cl: #B1B8F5;

// timing transition
$t: 0.3s;
$cubic: cubic-bezier(0.84, 0.13, 0.33, 0.97);

/*font families*/
$font-main: br;

/*headings typo*/
$fz-text: 16px;
$lh-text: normal;

$fz-text-m: 14px;
$lh-text-m: normal;

//============================================================//

/*BOXED LAYOUT*/
$container-max-width: 1920px;
$container-width: 1280px;

/*GRID - media queries breakpoints*/
$xxs-min: 576px; // CÓ THỂ TÙY CHỈNH
$xs-min: 768px; // KHÔNG THAY ĐỔI
$sm-min: 992px; // KHÔNG THAY ĐỔI
$md-min: 1200px; // KHÔNG THAY ĐỔI
$lg-min: 1310px; // CÓ THỂ TÙY CHỈNH

$xxs-max: ($xxs-min - 1); // Small Mobile
$xs-max: ($xs-min - 1); // Mobile
$sm-max: ($sm-min - 1); // Tablet
$md-max: ($md-min - 1); // Desktop
$lg-max: ($lg-min - 1); // Large Desktop
