.beautify-page {
    .buzzmetrics-masthead {
        &-title {
            @include sm {
                margin-bottom: 24px;
            }
            @include xs {
                margin-bottom: 16px;
            }
        }
        &-number {
            @include sm{
                margin-bottom: 24px;
            }
            @include xs{
                margin-top: 16px;
            }
        }
    }
    .buzzmetrics-discussion {
        &-content {
            &-icon {
                @include sm {   
                    margin-top: 16px;
                    margin-bottom: 16px;
                }
            }
        }
    }
    
    .buzzmetrics-heading-secondary {
        margin-bottom: 32px;
    }
    .beautify-chart-trend {
        background: $text-cl;
        padding-top: 56px;
        padding-bottom: 56px;
        @include sm {
            padding-top: 40px;
            padding-bottom: 40px;
        }
        @include xs {
            padding-top: 32px;
            padding-bottom: 32px;
        }
        .buzzmetrics-heading {
            &-icon {
                padding-right: 18px;
            }
            &-text {
                color: $text-blue-cl;
            }
        }
        .buzzmetrics-heading-secondary {
            color: $text-title-blue-light;
            @include sm {
                margin-bottom: 24px;
            }
            @include xs {
                margin-bottom: 16px;
            }
        }
    }
    .beautify-list{
        background: $text-cl-light;
        padding-top: 56px;
        padding-bottom: 56px;
        @include sm {
            padding-top: 40px;
            padding-bottom: 40px;
        }
        .buzzmetrics-heading {
            margin-bottom: 48px;
            @include sm {
                margin-bottom: 24px;

            }
            @include xs {
                margin-bottom: 16px;
            }
            &-text {
                color: $text-blue-cl;
            }
        }
        .buzzmetrics-chart-base{
            margin-top: 48px;
            padding-bottom: 0;
            @include sm {
                font-size: 15.36px;
                margin-top: 24px;
            }
            @include xs {
                font-size: 7.86px;
                margin-top: 16px;
            }    
        }
        .buzzmetrics-heading-secondary {
            color: $text-title-blue;
            margin-bottom: 48px;
            @include sm {
                margin-bottom: 24px;

            }
            @include xs {
                margin-bottom: 16px;
            }
        }
        &-content {
            width: 100%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-gap: 19.2px;
            justify-content: center;
            @include sm {
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 32px 56px;
            }
            @include xs {
                grid-gap: 24px 32px;
            }
        }
        &-item {
            &-img {
                width: 100%;
                position: relative;
                border-radius: 12px;
                cursor: pointer;
                overflow: hidden;
                background: #FFFFFF;
                box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
                border-radius: 12px;
                img {
                    width: 100%;
                    height: 100%;
                    display: block;
                    image-rendering: -webkit-optimize-contrast;
                    transform: translateZ(0px);
                    filter: blur(0px);
                }
            }
            &-name {
                font-family: $svnJekoBold;
                font-size: 15.36px;
                line-height: 110%;
                text-align: center;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                color: $text-title-blue;
                padding-top: 16px;
                @include sm {
                    font-size: 12.3px;
                }
                @include xs {
                    font-size: 7.86px;
                }
            }
            &-percent{
                font-family: $svnJekoBold;
                font-size: 24px;
                line-height: 110%;
                text-align: center;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                color: $text-title-blue;
                padding-top: 16px;
                @include sm {
                    font-size: 19.2px;
                    line-height: 110%;
                }
                @include xs {
                    font-size: 12.29px;
                    line-height: 110%;
                }
            }
        }
    }
    .beautify-chart-style {
        background: $text-title-light;
        padding-top: 56px;
        padding-bottom: 56px;
        @include sm {
            padding-top: 40px;
            padding-bottom: 40px;
        }
        .buzzmetrics-heading {
            margin-bottom: 40px;
            @include sm {
                margin-bottom: 24px;
            }
            &-text {
                color: $text-title-blue;
            }
        }
        .buzzmetrics-heading-secondary {
            color: $text-blue-cl;
            margin-bottom: 45px;
            @include sm {
                margin-bottom: 24px;
            }
        }
        &-desc{
            font-family: $svnJeko;
            font-size: 24px;
            line-height: 124%;
            text-align: left;
            color: $text-title-blue;
            padding-top: 32px;
            @include sm {
                padding-top: 0;
                font-size: 15.36px;
                line-height: 130%;
            }
            @include xs {
                font-size: 12.29px;
                line-height: 110%;
            }
        }
        
    }
    .beautify-box-image {
        background: $text-title-blue;
        padding-top: 56px;
        padding-bottom: 48px;
        @include sm {
            padding-top: 40px;
        }
        .buzzmetrics-heading {
            margin-bottom: 48px;
            @include sm {
                margin-bottom: 32px;
            }
            &-text {
                color: $text-cl-light;
            }
        }
        &__list{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-gap: 72px;
            @include sm {
                grid-template-columns: repeat(1,1fr);
            }
            @include xs {
                grid-gap: 32px;
            }
            &-items{
                text-align: center;
                img{
                    image-rendering: -webkit-optimize-contrast;
                    transform: translateZ(0px);
                    filter: blur(0px);
                    width: 100%;
                }
            }
        }
    }
}
