.divine-page {
    .buzzmetrics-discussion {
        &-content {
            &-icon {
                @include sm {   
                    margin-top: 16px;
                    margin-bottom: 16px;
                }
            }
        }
    }
    
    .buzzmetrics-heading-secondary {
        margin-bottom: 32px;
    }
    .divine-chart-trend {
        background: $text-cl;
        padding-top: 56px;
        padding-bottom: 56px;
        @include sm {
            padding-top: 40px;
            padding-bottom: 40px;
        }
        @include xs {
            padding-top: 32px;
            padding-bottom: 32px;
        }
        .buzzmetrics-heading-secondary {
            color: $text-title-blue-light;
            margin-bottom: 16px;
            @include sm {
                margin-bottom: 8px
            }
        }
        .buzzmetrics-heading {
            margin-bottom: 16px;
            @include sm {
                margin-bottom: 8px;
            }
            &-text {
                color: $text-title-blue;
            }
        }
    }
    .divine-favorite{
        background: $text-title-light;
        padding-top: 56px;
        padding-bottom: 56px;
        @include sm {
            padding-top: 40px;
            padding-bottom: 40px;
        }
        @include xs {
            padding-top: 32px;
            padding-bottom: 32px;
        }
        .buzzmetrics-heading {
            margin-bottom: 48px;
            @include xs {
                margin-bottom: 32px;
            }
            &-text{
                color: $text-blue-cl;
            }
        }
        .buzzmetrics-heading-secondary {
            color: $text-blue-cl;
            margin-bottom: 48px;
            @include xs {
                margin-bottom: 32px;
            }
        }
        &-content {
            display: flex;
            align-items: center;
            padding: 0 39.5px;
            @include sm {
                padding: 0;
                flex-direction: column;
            }
            @include xs {
            }
            &-chart{
                max-width: 806px;
                width: 100%;
                margin-left: 25px;
                @include sm {
                    max-width: 628px;
                    margin-left: 0;
                    margin-top: 56px;
                }
                img{
                    width: 100%;
                    image-rendering: -webkit-optimize-contrast;
                    transform: translateZ(0px);
                    filter: blur(0px);
                }
            }
            &-image{
                max-width: 370px;
                width: 100%;
                @include xs {
                    max-width: 213px;
                }
                img{
                    width: 100%;
                    image-rendering: -webkit-optimize-contrast;
                    transform: translateZ(0px);
                    filter: blur(0px);
                }
            }
        }
        
    }
    .divine-chart-faq {
        background: $text-cl-light;
        padding-top: 56px;
        padding-bottom: 56px;
        @include sm {
            padding-top: 40px;
            padding-bottom: 40px;
        }
        @include xs {
            padding-top: 32px;
            padding-bottom: 32px;
        }
        .buzzmetrics-heading-secondary {
            color: $text-title-blue-light;
            margin-bottom: 48px;
            @include xs {
                margin-bottom: 24px
            }
        }
        .buzzmetrics-heading {
            margin-bottom: 48px;
            @include xs {
                margin-bottom: 24px;
            }
            &-text {
                color: $text-title-blue;
            }
        }
    }
    .divine-list {
        background: $text-cl;
        padding-top: 56px;
        padding-bottom: 56px;
        @include sm {
            padding-top: 40px;
            padding-bottom: 40px;
        }
        @include xs {
            padding-top: 32px;
            padding-bottom: 32px;
        }
        &-content{
            display: flex;
            max-width: 998px;
            width: 100%;
            margin: 0 auto;
            &-image{
                max-width: 338px;
                width: 100%;
            }
            &-box{
                max-width: 612px;
                width: 100%;
                margin-left: 48px;
            }
            
        }
        &-item{
            padding-bottom: 46px;
            &:last-child{
                padding-bottom: 0;
            }
            &-img{
                display: flex;
                img{
                    image-rendering: -webkit-optimize-contrast;
                    transform: translateZ(0px);
                    filter: blur(0px);
                    width: 100%;
                }
            }
            &-name {
                font-family: $svnJekoBold;
                font-size: 15.36px;
                line-height: 110%;
                text-align: center;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                color: $text-title-blue;
                padding-bottom: 16px;
                @include sm {
                    font-size: 12.3px;
                    padding-bottom: 8px;
                }
                @include xs {
                    font-size: 7.86px;
                }
            }
        }
        .buzzmetrics-heading-secondary {
            color: $text-title-blue;
            margin-bottom: 48px;
            @include sm {
                margin-bottom: 24px
            }
        }
        .buzzmetrics-heading {
            margin-bottom: 24px;
            &-text {
                color: $text-title-blue;
            }
        }
    }
    .divine-chart-spirituality {
        background: $text-title-blue;
        padding-top: 56px;
        padding-bottom: 56px;
        @include sm {
            padding-top: 40px;
            padding-bottom: 40px;
        }
        @include xs {
            padding-top: 32px;
            padding-bottom: 32px;
        }
        .buzzmetrics-heading-secondary {
            color: $white-bg-cl;
            margin-bottom: 48px;
            @include xs {
                margin-bottom: 24px
            }
        }
        .buzzmetrics-heading {
            margin-bottom: 48px;
            @include xs {
                margin-bottom: 24px;
            }
            &-text {
                color: $white-bg-cl;
            }
        }
    }
    .divine-box-image {
        background: $yellow-bg-cl;
        padding-top: 56px;
        padding-bottom: 56px;
        @include sm {
            padding-top: 40px;
            padding-bottom: 40px;
        }
        @include xs {
            padding-top: 32px;
            padding-bottom: 32px;
        }
        &-content{
            max-width: 820px;
            width: 100%;
            margin: 0 auto;
            @include sm {
                max-width: 692px
            }
            @include xs {
                max-width: 100%
            }
            img{
                image-rendering: -webkit-optimize-contrast;
                transform: translateZ(0px);
                filter: blur(0px);
                width: 100%;
            }
        }
        .buzzmetrics-heading-secondary {
            color: $text-title-yellow-bold;
            margin-bottom: 24px;
        }
    }
}
