.dues-page {
    .dues-chart-image {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 100%;
            image-rendering: -webkit-optimize-contrast;
            transform: translateZ(0px);
            filter: blur(0px);
        }
    }
    .chart-top-dues {
        .title-main.--title-blue-light {
            margin-top: 0;
        }
    }
    .chart-second-dues {
        &__content {
            .title-main.--title-blue {
                margin-bottom: 16px;
                @include sm {
                    text-align: center !important;
                }
            }
            .title-sub-main {
                @include text(24px, SVN-Jeko, 29.76px, $text-title-blue, none);
                @include sm {
                    margin-bottom: 16px;
                    text-align: center;
                    font-size: 15.36px;
                    line-height: 19.97px;
                }
            }
        }
    }
    .chart-third-dues {
        .title-main.--title-blue {
            margin-top: 0;
        }
    }
    .chart-fourth-dues {
        .title-main {
            @include sm {
                margin-top: 16px;
                text-align: center !important;
            }
        }
        .title-sub-main {
            @include text(24px, SVN-Jeko, 29.76px, $text-blue-cl, none);
            @include sm {
                // margin-bottom: 16px;
                text-align: center;
                font-size: 15.36px;
                line-height: 19.97px;
            }
        }
        .dues-img {
            @include sm {
                margin-bottom: 53px;
                img {
                    width: 50%;
                }
            }
            @include xs {
                img {
                    width: 60%;
                }
            }
            @media (max-width: 436px) {
                img{
                    width: 70%;
                }
            }
        }
    }
    .cultural-debt-collection {
        .title-main.--title-white {
            margin-top: 0;
        }
        .title-sub-main {
            text-align: center;
            margin-bottom: 36px;
            @include text(24px, SVN-Jeko, 29.76px, $white-cl, none);
            @include sm {
                // margin-bottom: 16px;
                text-align: center;
                font-size: 15.36px;
                line-height: 19.97px;
            }
        }
        &__img {
            text-align: center;

            img {
                width: 100%;
                height: 420px;
                @include sm {
                    width: unset;
                }
            }
            @include sm {
                margin-bottom: 32px;
            }
        }
        .cultural-debt-collection__img {
            @media (max-width: 350px) {
                img {
                    width: 100% !important;
                }
            }
        }
        .cultural-debt-collection__img.--second {
            @media (max-width: 470px) {
                img {
                    width: 100% !important;
                }
            }
        }
        &__caption {
            margin-top: 16px;
            @include text(15.36px, SVN-Jeko, 16.9px, $white-cl, uppercase);
            font-weight: bold;
            letter-spacing: 0.05em;
        }
    }
    .emoticon-dues {
        padding-top: 201px;
        @include xs {
            padding-top: 0;
            .title-main {
                text-align: center !important;
                padding-bottom: 340px;
            }
        }
        &__list {
            // @include xs {
            //     max-width: 592px;
            //     grid-template-columns: repeat(3, 150px);
            //     grid-gap: 48.54px 71px;
            // }
        }
        &__first {
            position: relative;
            .post-area {
                position: absolute;
                top: -340px;
                left: 3px;
                @include xs {
                    left: -10px;
                }
            }
        }
        &__item {
            &-emotion {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #fff;
                box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
                border-radius: 12px;
                img {
                    width: 100%;
                }
                @include sm {
                }
            }
            &-text {
                @include text(
                    15.36px,
                    SVN-Jeko,
                    16.9px,
                    $text-title-blue,
                    uppercase
                );
                font-weight: 700;
                letter-spacing: 0.05em;
                text-align: center;
                margin-top: 16px;
                @include xs {
                    font-size: 12.3px;
                }
            }
            @include sm {
                margin-bottom: 16px;
            }
        }
    }
    @media (max-width: 1184px) and (min-width: 1000px) {
        .cultural-debt-collection__img img {
            height: 329px;
            width: 100%;
        }
    }
}
