.food-page {
    .buzzmetrics-masthead {
        
    }
    .buzzmetrics-discussion {
        
    }
    
    .buzzmetrics-heading-secondary {
        margin-bottom: 32px;
    }
    .food-chart-trend {
        background: $text-cl;
        padding-top: 56px;
        padding-bottom: 56px;
        @include sm {
            padding-top: 40px;
            padding-bottom: 40px;
        }
        .buzzmetrics-heading {
            &-icon {
                padding-right: 18px;
            }
            &-text {
                color: $text-blue-cl;
            }
        }
        .buzzmetrics-heading-secondary {
            color: $text-title-blue-light;
        }
    }
    .food-chart-list-food{
        background: $white-bg-cl;
        padding-top: 56px;
        padding-bottom: 56px;
        @include sm {
            padding-top: 40px;
            padding-bottom: 40px;
        }
        @include xs {
            padding-top: 32px;
            padding-bottom: 32px;
        }
        .buzzmetrics-heading {
            &-text {
                color: $text-title-blue;
            }
        }
        .buzzmetrics-heading-secondary {
            color: $text-title-blue-light;
        }
    }
    .food-list {
        background: $text-title-light;
        padding-top: 56px;
        padding-bottom: 56px;
        @include sm {
            padding-top: 40px;
            padding-bottom: 40px;
        }
        .buzzmetrics-heading {
            &-text {
                color: $text-title-blue;
            }
        }
        .buzzmetrics-heading-secondary {
            color: $text-blue-cl;
        }
        &-content {
            max-width: 978px;
            width: 100%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(4, 150px);
            grid-gap: 44.36px 126px;
            justify-content: space-between;
            @include sm {
                max-width: 592px;
                grid-template-columns: repeat(3, 150px);
                grid-gap: 48.54px 71px;
            }
            @include xs {
                max-width: 100%;
                grid-template-columns: repeat(2, 150px);
                grid-gap: 53.54px 39px;
            }
        }
        &-item {
            // padding-left: 9.8px;
            // padding-right: 9.8px;
            &-img {
                width: 100%;
                position: relative;
                border-radius: 12px;
                cursor: pointer;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    display: block;
                }
                .overlay {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    transition: 0.5s ease;
                    background-color: #2b337e;
                    border-radius: 12px;
                }

                .text {
                    color: #f7cd52;
                    font-size: 20px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    text-align: center;
                    white-space: nowrap;
                    font-family: $svnJekoBold;
                    @include sm {
                        font-size: 14px;
                    }
                }

                &:hover {
                    .overlay {
                        opacity: 1;
                    }
                }
            }
            &-name {
                font-family: $svnJekoBold;
                font-size: 15.36px;
                line-height: 110%;
                text-align: center;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                color: $text-black-cl;
                padding-top: 8px;
                @include sm {
                    font-size: 12.3px;
                }
                @include xs {
                    font-size: 7.86px;
                }

            }
        }
    }
    .food-chart-top {
        background: $text-cl-light;
        padding-top: 56px;
        padding-bottom: 56px;
        .buzzmetrics-heading {
            &-text {
                color: $text-blue-cl;
            }
        }
        .buzzmetrics-heading-secondary {
            color: $text-title-blue;
        }
    }
    .food-chart-motivation {
        background: $text-title-blue;
        padding-top: 56px;
        padding-bottom: 56px;
        .buzzmetrics-heading {
            &-text {
                color: $text-cl-light;
            }
        }
        .buzzmetrics-heading-secondary {
            color: $text-title-yellow-bold;
        }
        .buzzmetrics-chart-base{
            color: $white-bg-cl;
        }
    }
}
