.game-page {
    .buzzmetrics-discussion {
        &-content {
            &-icon {
                @include sm {   
                    margin-top: 16px;
                    margin-bottom: 16px;
                }
            }
        }
    }
    
    .buzzmetrics-heading-secondary {
        margin-bottom: 32px;
    }
    .game-chart-trend {
        background: $text-cl;
        padding-top: 56px;
        padding-bottom: 56px;
        @include sm {
            padding-top: 40px;
            padding-bottom: 40px;
        }
        @include xs {
            padding-top: 32px;
            padding-bottom: 32px;
        }
        .buzzmetrics-heading-secondary {
            color: $text-title-blue-light;
            @include sm {
                margin-bottom: 24px;
            }
            @include xs {
                margin-bottom: 16px;
            }
        }
    }
    .game-list{
        padding-top: 56px;
        padding-bottom: 56px;
        @include sm {
            padding-top: 40px;
            padding-bottom: 40px;
        }
        @include xs {
            padding-top: 32px;
            padding-bottom: 32px;
        }
        
        &.game-list--online{
            background: $text-title-light;
            .game-list-content{
                max-width: 972px;
                width: 100%;
                margin: 0 auto;
                @include sm {
                    max-width: 616px;
                }
                @include xs {
                    max-width: 288px;
                }
                &-box{
                    margin-left: 108px;
                    @include sm {
                        margin-left: 56px;
                        
                    }
                    @include xs {
                        max-width: 272px;
                        width: 100%;
                        margin: 0 auto 32px auto;
                    }
                }
                &-inner{
                    grid-template-columns: repeat(3, 1fr);
                    grid-gap: 36px 48px;
                    @include sm {
                        grid-template-columns: repeat(2, 1fr);
                        grid-gap: 16px 32px;
                    }
                    @include xs {
                        grid-gap: 32px
                    }
                }
            }
            .buzzmetrics-heading {
                &-text {
                    color: $text-title-blue;
                }
            }
            .buzzmetrics-heading-secondary {
                color: $text-title-blue;
            }
            .buzzmetrics-chart-base{
                color: $text-title-blue;
            }
        }
        &.game-list--offline{
            background: $text-title-blue;
            .game-list-content{
                max-width: 1128px;
                width: 100%;
                margin: 0 auto;
                @include sm {
                    max-width: 640px;
                }
                @include xs {
                    max-width: 296px;
                }
                &-box{
                    margin-left: 56px;
                    @include xs {
                        margin-left: 0;
                        margin-bottom: 32px;
                    }
                }
                &-inner{
                    grid-template-columns: repeat(4, 1fr);
                    grid-gap: 45px 48px;
                    @include sm {
                        grid-template-columns: repeat(2, 1fr);
                        grid-gap: 24px 56px;
                    }
                }
            }
            .game-list-item{
                &-name, &-percent {
                    color: $white-cl;
                }
            }
            .buzzmetrics-heading {
                &-text {
                    color: $white-bg-cl;
                }
            }
            .buzzmetrics-heading-secondary {
                color: $white-bg-cl;
            }
            .buzzmetrics-chart-base{
                color: $white-bg-cl;
            }
        }
        .buzzmetrics-heading {
            margin-bottom: 56px;
            @include sm {
                margin-bottom: 32px;
            }
        }
        .buzzmetrics-heading-secondary {
            margin-bottom: 56px;
            @include sm {
                margin-bottom: 32px;
            }
        }
        .buzzmetrics-chart-base{
            margin-top: 24px;
            padding-bottom: 0;
            color: $white-bg-cl;
            @include sm {
                font-size: 15.36px;
            }
            @include xs {
                font-size: 7.86px;
                margin-top: 16px;
            }    
        }
        &-content {
            display: flex;
            @include xs {
                flex-direction: column-reverse;
            }
            &-inner{
                width: 100%;
                margin: 0 auto;
                display: grid;
                justify-content: center;
            }
            &-image{
                max-width: 288px;
                width: 100%;
                img{
                    width: 100%;
                    image-rendering: -webkit-optimize-contrast;
                    transform: translateZ(0px);
                    filter: blur(0px);
                }
            }
        }
        &-item {
            &-img {
                width: 100%;
                position: relative;
                border-radius: 12px;
                cursor: pointer;
                overflow: hidden;
                background: #FFFFFF;
                box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
                border-radius: 12px;
                img {
                    width: 100%;
                    height: 100%;
                    display: block;
                    image-rendering: -webkit-optimize-contrast;
                    transform: translateZ(0px);
                    filter: blur(0px);
                }
            }
            &-name {
                font-family: $svnJekoBold;
                font-size: 15.36px;
                line-height: 110%;
                text-align: center;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                color: $text-title-blue;
                padding-top: 24px;
                @include sm {
                    font-size: 12.3px;
                }
                @include xs {
                    font-size: 7.86px;
                }
            }
            &-percent{
                font-family: $svnJekoBold;
                font-size: 24px;
                line-height: 110%;
                text-align: center;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                color: $text-title-blue;
                padding-top: 8px;
                @include sm {
                    font-size: 19.2px;
                    line-height: 110%;
                }
                @include xs {
                    font-size: 12.29px;
                    line-height: 110%;
                }
            }
        }
    }
    .game-box-image {
        background: $white-bg-cl;
        padding-top: 56px;
        padding-bottom: 56px;
        @include sm {
            padding-top: 40px;
            padding-bottom: 40px;
        }
        @include xs {
            padding-top: 32px;
            padding-bottom: 32px;
        }
        &-content{
            max-width: 820px;
            width: 100%;
            margin: 0 auto;
            @include sm {
                max-width: 710px
            }
            @include xs {
                max-width: 100%
            }
            img{
                image-rendering: -webkit-optimize-contrast;
                transform: translateZ(0px);
                filter: blur(0px);
                width: 100%;
            }
        }
        .buzzmetrics-heading-secondary {
            color: $text-title-blue-cl;
            margin-bottom: 24px;
        }
    }
}
