.bg-guess-detiny {
    // height: 50vh;
    background-image: url("../imgs/bg-guess-destiny.jpg");
    background-repeat: no-repeat;
    background-position: 100% 5%;
    background-size: 100% 101%;
    padding-top: 112px;
    padding-bottom: 56px;
    .guess-destiny {
        h2 {
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: #000;
        }
        img {
            width: 700px;
            margin: 48px 0;
            @include xs {
                width: 100%;
            }
        }
        .content-guess-detiny {
            p {
                @include text(24px, SVN-Mont, 124%, $text-cl, none);
                @include xs {
                    font-size: 16px;
                }
            }
            .note {
                margin-top: 20px;
                font-size: 12px;
                line-height: normal;
                .d-block {
                    margin-top: 10px;
                }
            }
        }
    }
    @include xs {
        background-size: 320% 101%;
        background-position: 42% 5%;
    }
}
.information-instructions {
    background-color: $text-title-blue-light;
    padding: 56px 0;
    .instructions {
        &__title {
            img {
                width: 150px;
            }
            h2 {
                font-weight: 800;
                margin-left: 32px;
                @media (max-width: 1200px) {
                    font-size: 42px;
                }
            }
            @include sm {
                flex-direction: column;
                h2 {
                    margin-left: 0;
                    margin-top: 32px;
                    font-size: 38px;
                }
            }
            @include xs {
                img {
                    width: 100px;
                }
                h2 {
                    font-size: 30px;
                }
            }
        }
        &__content {
            margin-top: 32px;
            p {
                @include text(24px, SVN-Mont, 124%, $text-cl-content, none);
                @include sm {
                    margin-bottom: 32px;
                }
                @include xs {
                    font-size: 16px;
                }
            }
        }
    }
    .information-form {
        form {
            width: 100%;
            background-color: $white-cl;
            padding: 56px 40px;
            box-shadow: 8px 6px 20px rgba(0, 0, 0, 0.2);
            border-radius: 12px;
            .title-form {
                @include text(30px, SVN-MontBold, normal, #36409e, uppercase);
                margin-bottom: 32px;
                text-align: center;
            }
            .form-group {
                width: 100%;
                input {
                    width: 100%;
                    @include text(18px, SVN-Mont, normal, #fafafa, none);
                    background: #cccccc;
                    border-radius: 4px;
                    padding: 12px 16px;
                    border: 0;
                    &:focus {
                        outline: none;
                    }
                    &::-webkit-input-placeholder {
                        /* Edge */
                        color: #fafafa;
                    }

                    &:-ms-input-placeholder {
                        /* Internet Explorer 10-11 */
                        color: #fafafa;
                    }

                    &::placeholder {
                        color: #fafafa;
                    }
                }
                &:nth-child(3) {
                    margin: 24px 0;
                }
            }
            .btn-result {
                @include text(18px, SVN-MontBold, normal, #36409e, uppercase);
                border: 2px solid #36409e;
                box-sizing: border-box;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
                border-radius: 3.76px;
                background-color: #ffffff;
                padding: 8px 40px;
                margin-top: 32px;
                text-align: center;
                cursor: pointer;
                transition: 0.3s;
                &:hover {
                    transition: 0.3s;
                    border-color: #ffffff;
                    background-color: #36409e;
                    color: #ffffff;
                }
            }
        }
    }
}
