.introduce-masthead {
    // height: 50vh;
    background-image: url("../imgs/bg-guess-destiny.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 123px;
    padding-bottom: 65px;
    @include sm {   
        padding-top: 181px;
        padding-bottom: 80px;
    }
    @include xs {   
        padding-top: 110px;
        padding-bottom: 32px;
    }
    &-inner{
        display: flex;
        @include sm {   
            flex-direction: column;
            align-items: center;
        }
    }
    &-content{
        max-width: 758px;
        width: 100%;
    }
    &-title{
        font-family: $svnJeko;
        font-weight: 900;
        font-size: 73.24px;
        line-height: 130%;
        text-transform: uppercase;
        color: $text-title-yellow;
        margin-bottom: 68px;
        position: relative;
        z-index: 1;
        padding-top: 17px;
        &::after{
            content: '';
            background: url('../imgs/bg-title.png');
            position: absolute;
            width: 665px;
            height: 376px;
            left: -70px;
            top: -93px;
            z-index: -1;
            @include sm {
                background: url('../imgs/bg-title-tb.png');
                width: 556px;
                height: 321px;
                left: 50%;
                transform: translateX(-50%);
                top: -72px;
            }
            @include xs {
                background: url('../imgs/bg-title-mb.png');
                width: 345px;
                height: 197px;
                top: -25px;
            }
        }
        @include sm {   
            margin-bottom: 74px;
            font-size: 58.59px;
            text-align: center;
        }
        @include xs {   
            margin-bottom: 58px;
            font-size: 37.5px;
        }
    }
    &-desc{
        font-family: $svnJeko;
        font-size: 24px;
        line-height: 124%;
        color: $white-bg-cl;
        @include sm {   
            font-size: 19.2px;
            line-height: 120%;
        }
        @include xs {   
            font-size: 15.36px;
            line-height: 130%;
        }
    }
    &-form{
        margin-left: 90px;
        max-width: 400px;
        width: 100%;
        @include sm {   
            margin-left: 0;
            margin-top: 56px;
            max-width: 480px;

        }
        @include xs {
            max-width: 291px;
            margin-top: 32px;
        }
    }
}
.information-form {
    form {
        width: 100%;
        background-color: $text-cl;
        padding: 56px 40px;
        box-shadow: 8px 6px 20px rgba(0, 0, 0, 0.2);
        border-radius: 12px;
        @include sm {
            padding: 56px
        }
        @include xs {
            padding: 48px 24px
        }

        .title-form {
            @include text(30px, SVN-MontBold, normal, #36409e, uppercase);
            margin-bottom: 32px;
            text-align: center;
        }
        .form-group {
            width: 100%;
            padding-bottom: 45px;
            @include xs {
                padding-bottom: 32px;
            }
            .input-data{
                background: #DFE2FF;
                border-color: transparent;
            }
            .input-error{
                background: #FEEFEF;
                border: 1px solid #D93535;
                box-sizing: border-box;
                border-radius: 8px;
                color: #1D1D20;
            }
            .message-error{
                background: #FEEFEF;
                border-radius: 5px;
                font-family: $svnJeko;
                font-size: 9.83px;
                line-height: 110%;
                display: flex;
                align-items: center;
                color: #D93535;
            }
            
            label{
                font-family: $svnJekoBold;
                font-size: 19.2px;
                line-height: 100%;
                text-align: center;
                text-transform: uppercase;
                color: #36409E;
                @include xs {
                    font-size: 15.36px;
                    line-height: 124%;
                }
            }
            &-input{
                position: relative;
                img{
                    position: absolute;
                    right: 16px;
                    top: 0;
                    z-index: 1;
                    top: 50%;
                    transform: translateY(-50%);
                    @include xs {
                        width: 13px;
                    }

                }
            }
            input {
                width: 100%;
                font-family: $svnJeko;
                font-size: 15.36px;
                line-height: 110%;
                display: flex;
                align-items: center;
                color: #2B337E;
                background: #FAFAFA;
                border-radius: 4px;
                padding: 10.5px 46px 10.5px 16px; 
                margin-top: 10px;
                border: 1px solid #FAFAFA;
                position: relative;
                @include xs {
                    font-size: 12.29px;
                    line-height: 110%;
                }
                &:focus {
                    outline: none;
                    background: #DFE2FF;
                    border: 1px solid #2B337E;
                    box-sizing: border-box;
                    box-shadow: 8px 6px 20px rgba(0, 0, 0, 0.2);
                    border-radius: 8px;
                }
                &::-webkit-input-placeholder {
                    /* Edge */
                    color: #959595;
                }

                &:-ms-input-placeholder {
                    /* Internet Explorer 10-11 */
                    color: #959595;
                }

                &::placeholder {
                    color: #959595;
                }
                &::before{
                    content: '';
                    position: absolute;
                    right: 0;
                    top: 50%;
                    width: 18px;
                    transform: translateY(-50%);
                    background: url('../imgs/name.png');
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
            }
        }
        .btn-search {
            font-family: $svnJeko;
            font-weight: 900;
            font-size: 19.2px;
            line-height: 124%;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            color: #36409E;
            background: transparent;
            border-radius: 999px;
            padding: 8px 32px;
            text-align: center;
            cursor: pointer;
            transition: 0.3s;
            border: 2px solid #36409E;
            border-radius: 999px;
            @include xs {
                font-size: 12.3px;
                line-height: 124%;
            }

            &:hover {
                transition: 0.3s;
                border-color: transparent;
                color: #FAFAFA;
                background-color: #36409e;
                box-shadow: 2px 8px 12px rgba(105, 116, 216, 0.5);
            }
            &:active{
                border-color: transparent;
                color: #FAFAFA;
                background: #2B337E;
                box-shadow: 2px 8px 24px 4px rgba(105, 116, 216, 0.5);
                transition: 0.3s;
            }
        }
        .btn-search-fill{
            background: #6974D8;
            transition: 0.3s;
            border-color: transparent;
            color: #FAFAFA;
        }
    }
}
.introduce-list-number{
    // display: none;
    padding-top: 64px;
    padding-bottom: 64px;
    @include sm {
        padding-top: 56px;
        padding-bottom: 56px;
    }
    @include xs {
        padding-top: 32px;
        padding-bottom: 32px;
    }
    background: $text-cl;
    .container{
        max-width: 1306px;
    }
    &-title{
        font-family: $svnJeko;
        font-weight: 900;
        font-size: 46.88px;
        line-height: 130%;
        text-transform: uppercase;
        color: $text-title-blue-light;
        margin-bottom: 11px;
        @include sm {
            font-size: 46.88px;
            margin-bottom: 24px;
        }
        @include xs {
            font-size: 30px;
        }
    }
    &-btn{
        width: 290px;
        height: 40px;
        left: 0px;
        top: 193px;
        background: $text-title-yellow-bold;
        border-radius: 999px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0;
        @include sm {
            position: relative;
            top: unset;
            margin: 0 auto 8px auto;
        }
        @include xs {
            margin-bottom: 22px;
        }
        a{
            font-family: $svnJeko;
            font-weight: 900;
            font-size: 19.2px;
            line-height: 124%;
            text-transform: uppercase;
            color: $white-bg-cl;
            @include xs {
                font-size: 15.4px;
                line-height: 124%;
            }
        }
    }
    &-inner{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 95px 88px;
        @include sm {
            grid-template-columns: repeat(2,1fr);
            grid-gap: 48px 74px;
            max-width: 609px;
            width: 100%;
            margin: 0 auto;
        }
        @include xs {
            max-width: 356px;
            grid-gap: 26px 24px;
        }
    }
    &-item{
        padding: 29px;
        border: 3px solid $text-title-blue;
        box-sizing: border-box;
        border-radius: 24px;
        background: transparent;
        cursor: pointer;
        transition: .3s all ease-in-out !important;
        @include xs {
            padding: 14px;
            border: 2px solid $text-title-blue;
        }
        &:hover{
            &:not(:first-child){
                background: $text-title-blue-light;
                box-shadow: 5px 11px 32px 5px rgba(105, 116, 216, 0.5);
                border-radius: 24px;
                border-color: transparent;
                transition: .3s all ease-in-out !important;
                .introduce-list-number-item-name{
                    color: $white-bg-cl;
                    transition: .3s all ease-in-out;
                }
                .introduce-list-number-item-sub{
                    background: $text-title-yellow;
                    transition: .3s all ease-in-out;
                }
            }
        }
        &:active,&:focus{
            &:not(:first-child){
                background: $text-blue-cl;
                box-shadow: 5px 11px 32px 5px rgba(105, 116, 216, 0.5);
                border-radius: 24px;
                border-color: transparent;
                transition: .3s all ease-in-out;
                .introduce-list-number-item-name{
                    color: $white-bg-cl;
                    transition: .3s all ease-in-out;
                }
                .introduce-list-number-item-sub{
                    background: $text-title-yellow;
                    transition: .3s all ease-in-out;
                }
            }
        }
        &:first-child{
            grid-area: 1 / 1 / 2 / 3;
            border: none;
            padding: 0;
            margin-top: 8px;
            margin-left: 11px;
            position: relative;
            @include sm {
                margin-top: 0;
                margin-left: 0;
                text-align: center;
            }

        }
        &-sub{
            font-family: $svnJeko;
            font-weight: 900;
            font-size: 48px;
            line-height: 130%;
            text-align: center;
            text-transform: uppercase;
            color: $black-cl;
            background: $blue-bg-cl;
            border-radius: 999px;
            width: 85px;
            height: 85px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: .3s all ease-in-out;
            @include xs {
                width: 45px;
                height: 45px;
                font-size: 24px;
                line-height: 130%;
            }
        }
        &-name{
            font-family: $svnJeko;
            font-weight: 900;
            font-size: 30px;
            line-height: 130%;
            color: $text-title-blue;
            padding-top: 40px;
            transition: .3s all ease-in-out;
            @include xs {
                font-size: 19.2px;
                line-height: 130%;
                padding-top: 16px;
            }
        }
    }
}
.introduce-no-account{
    background: #DFE2FF;
    padding-top: 59px;
    padding-bottom: 78px;
    @include xs {
        padding-top: 32px;
        padding-bottom: 32px;
    }
    &-title{
        font-family: $svnJeko;
        font-weight: 900;
        font-size: 46.88px;
        line-height: 130%;
        text-transform: uppercase;
        color: $text-title-blue-light;
        text-align: center;
        @include xs {
            font-size: 30px;
        }
    }
    &-box{
        margin-top: 38px;
        background: #FAFAFA;
        box-shadow: 8px 6px 20px rgba(0, 0, 0, 0.2);
        border-radius: 24px;
        padding: 40px 56px;
        text-align: center;
        @include xs {
            margin-top: 16px;
        }
        &-icon{
            margin-bottom: 32px;
            text-align: center;
            @include xs {
                margin-bottom: 24px;
            }
        }
        &-title{
            font-family: $svnJekoBold;
            font-size: 24px;
            line-height: 124%;
            text-align: center;
            color: #2B337E;
            margin-bottom: 8px;
            @include xs {
                font-size: 15.36px;
                line-height: 124%;
            }
        }
        &-desc{
            font-family: $svnJeko;
            font-size: 24px;
            line-height: 124%;
            text-align: center;
            color: #2B337E;
            margin-bottom: 32px;
            @include xs {
                font-size: 15.36px;
                line-height: 130%;
                margin-bottom: 24px;
            }
        }
        &-btn{
            display: inline-block;
            a{
                border: 2px solid #36409E;
                box-sizing: border-box;
                border-radius: 999px;
                font-family: $svnJeko;
                font-style: normal;
                font-weight: 900;
                font-size: 19.2px;
                line-height: 124%;
                display: flex;
                align-items: center;
                text-transform: uppercase;
                color: #36409E;
                padding: 8px 32px;
                transition: 0.3s all ease-in-out;
                @include xs {
                    font-size: 12.29px;
                }
                &:hover {
                    transition: 0.3s all ease-in-out;
                    border-color: transparent;
                    color: #FAFAFA;
                    background-color: #36409e;
                }
            }
        }
    }
}