.karma-page {
    .buzzmetrics-discussion {
        &-content {
            &-icon {
                @include sm {   
                    margin-top: 16px;
                    margin-bottom: 16px;
                }
            }
        }
    }
    
    .buzzmetrics-heading-secondary {
        margin-bottom: 32px;
    }
    .karma-chart-trend {
        background: $text-cl;
        padding-top: 56px;
        padding-bottom: 56px;
        @include sm {
            padding-top: 40px;
            padding-bottom: 40px;
        }
        @include xs {
            padding-top: 32px;
            padding-bottom: 32px;
        }
        .buzzmetrics-heading-secondary {
            color: $text-title-blue-light;
            @include sm {
                margin-bottom: 24px;
            }
            @include xs {
                margin-bottom: 16px;
            }
        }
    }
    .karma-list{
        background: $white-bg-cl;
        padding-top: 56px;
        padding-bottom: 56px;
        @include sm {
            padding-top: 40px;
            padding-bottom: 40px;
        }
        @include xs {
            padding-top: 32px;
            padding-bottom: 32px;
        }
        .buzzmetrics-heading {
            margin-bottom: 40px;
            @include sm {
                margin-bottom: 32px;
            }
            &-text {
                color: $text-title-blue;
            }
        }
        .buzzmetrics-heading-secondary {
            color: $text-blue-cl;
            margin-bottom: 32px;
            @include sm {
                margin-bottom: 24px;

            }
            @include xs {
                margin-bottom: 16px;
            }
        }
        
    }
    .karma-chart-style {
        background: $text-title-light;
        padding-top: 56px;
        padding-bottom: 56px;
        @include sm {
            padding-top: 40px;
            padding-bottom: 40px;
        }
        @include xs {
            padding-top: 32px;
            padding-bottom: 32px;
        }
        .buzzmetrics-heading {
            margin-bottom: 48px;
            @include xs {
                margin-bottom: 20px;
            }
            &-text {
                color: $text-title-blue;
            }
        }
        .buzzmetrics-heading-secondary {
            color: $text-blue-cl;
            margin-bottom: 40px;
            @include xs {
                margin-bottom: 16px;
            }
        }
    }
    .karma-chart-tips {
        background: $text-cl;
        padding-top: 56px;
        padding-bottom: 56px;
        @include sm {
            padding-top: 40px;
            padding-bottom: 40px;
        }
        @include xs {
            padding-top: 32px;
            padding-bottom: 32px;
        }
        .buzzmetrics-heading-secondary {
            color: $text-title-blue;
            margin-bottom: 56px;
            @include xs {
                margin-bottom: 16px;
            }
        }
    }
    .karma-box-image {
        background: $text-title-blue;
        padding-top: 56px;
        padding-bottom: 80px;
        @include sm {
            padding-top: 40px;
            padding-bottom: 40px;
        }
        &__list{
            
            &-items{
                display: flex;
                padding-bottom: 56px;
                &:last-child{
                    padding-bottom: 0;
                }
                @include xs {
                    flex-direction: column;
                }
                &-img{
                    display: flex;
                    img{
                        width: 160px;
                        height: 160px;
                    }
                }
                &-content{
                    margin-left: 51px;
                    @include xs {
                        margin-left: 0;
                        margin-top: 32px;
                    }
                }
                &-name{
                    font-family: $svnJekoBold;
                    font-size: 15.36px;
                    line-height: 110%;
                    letter-spacing: 0.05em;
                    text-transform: uppercase;
                    color: $text-title-yellow;
                    margin-bottom: 8px;
                }
                &-number{
                    font-family: $svnJekoBold;
                    font-size: 24px;
                    line-height: 110%;
                    letter-spacing: 0.05em;
                    text-transform: uppercase;
                    color: $text-title-yellow;
                    margin-bottom: 16px;
                }
                &-desc{
                    font-family: $svnJeko;
                    font-size: 19.2px;
                    line-height: 120%;
                    color: $white-bg-cl;
                    @include xs {
                        font-size: 12.29px;
                        line-height: 110%;
                    }
                }
            }
        }
        .buzzmetrics-heading-secondary {
            color: $white-bg-cl;
            margin-bottom: 56px;
            @include sm {
                margin-bottom: 32px;
            }
        }
        .buzzmetrics-chart-base{
            color: $white-bg-cl;
            padding-bottom: 56px;
            @include xs {
                padding-bottom: 24px;
            }
        }
    }
}
