.meeting-page {
    .meet-chart-image {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 100%;
            image-rendering: -webkit-optimize-contrast;
            transform: translateZ(0px);
            filter: blur(0px);
        }
    }
    .chart-top-meet {
        .title-main.--title-blue-light {
            margin-top: 0;
        }
    }
    .chart-second-meet {
        &__content {
            .title-main.--title-blue {
                margin-bottom: 16px;
                @include sm {
                    text-align: center !important;
                }
            }
            .title-sub-main {
                @include text(24px, SVN-Jeko, 29.76px, $text-title-blue, none);
                @include sm {
                    margin-bottom: 16px;
                    text-align: center;
                    font-size: 15.36px;
                    line-height: 19.97px;
                }
            }
        }
    }
    .chart-third-meet {
        .title-main.--title-blue {
            margin-top: 0;
        }
    }
    .chart-fourth-meet {
        .title-main {
            @include sm {
                margin-top: 16px;
                text-align: center !important;
            }
        }
        .title-sub-main {
            @include text(24px, SVN-Jeko, 29.76px, $text-blue-cl, none);
            @include sm {
                // margin-bottom: 16px;
                text-align: center;
                font-size: 15.36px;
                line-height: 19.97px;
            }
        }
        .meet-img {
            @include sm {
                margin-bottom: 53px;
                img {
                    width: 50%;
                }
            }
            @include xs {
                img {
                    width: 60%;
                }
            }
            @media (max-width: 436px) {
                img{
                    width: 70%;
                }
            }
        }
    }
}
