.plane-and-goals-page {
    .goals-chart-image {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 100%;
            image-rendering: -webkit-optimize-contrast;
            transform: translateZ(0px);
            filter: blur(0px);
        }
    }
    .chart-top-goals,
    .goals-type {
        .title-main {
            margin-top: 0;
        }
    }
    .chart-second-goals {
        .goals-chart-image{
            img{
                width: 75%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
            }
        }
    }
    .goals-type {
        &__item {
            &-head {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 24px;
                h4 {
                    @include text(
                        15.36px,
                        SVN-Jeko,
                        16.9px,
                        #f7cd52,
                        uppercase
                    );
                    letter-spacing: 0.05em;
                    text-align: center;
                    font-weight: 700;
                    margin-top: 24px;
                    margin-bottom: 8px;
                    @include sm {
                        font-size: 12.3px;
                        line-height: 13.53px;
                    }
                }
                span {
                    @include text(24px, SVN-Jeko, 26.4px, #dfe2ff, uppercase);
                    letter-spacing: 0.05em;
                    text-align: center;
                    font-weight: 700;
                    @include sm {
                        font-size: 19.2px;
                        line-height: 21.12px;
                    }
                }
                @include sm {
                    margin-bottom: 10px;
                }
            }
            &-body {
                p {
                    @include text(24px, SVN-Jeko, 29.76px, #ffffff, none);
                    letter-spacing: 0.05em;
                    text-align: center;
                    @include sm {
                        font-size: 15.36px;
                        line-height: 19.97px;
                    }
                }
            }
            @include xs {
                margin-bottom: 32px;
            }
        }
        .plane-list-title {
            @include text(12.36px, SVN-Jeko, 13.53px, #ffffff, uppercase);
            font-weight: 700;
            text-align: center;
            margin-top: 16px;
            @include sm {
                font-size: 12.3px;
                line-height: 13.53px;
            }
            @include xs {
                font-size: 7.86px;
                line-height: 8.65px;
            }
        }
    }
    .healthy-solutions {
        .healthy-list-content {
            max-width: 850px;
            width: 100%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 44.36px 126px;
            justify-content: center;
            .healthy-list-item {
                text-align: center;
                .healthy-list-item-img {
                    cursor: unset;
                    display: block;
                    border-radius: 12px;
                    width: 100%;
                }
                .healthy-list-item-name {
                    @include text(
                        15.36px,
                        SVN-Jeko,
                        26.4px,
                        $text-blue-cl,
                        uppercase
                    );
                    font-weight: 700;
                    margin-top: 24px;
                    margin-bottom: 8px;
                    letter-spacing: 0.05em;
                    padding: 0;
                    @include sm {
                        font-size: 12.3px;
                        line-height: 13.53px;
                    }
                    @include xs {
                        font-size: 7.86px;
                        line-height: 8.65px;
                    }
                }
                .healthy-list-item-precent {
                    @include text(24px, SVN-Jeko, 26.4px, $text-blue-cl, none);
                    font-weight: 700;
                    @include sm {
                        font-size: 19.2px;
                        line-height: 21.12px;
                    }
                    @include xs {
                        font-size: 12.3px;
                        line-height: 13.53px;
                    }
                }
            }

            @include sm {
                max-width: 800px;
                grid-gap: 35.36px 93px;
            }
            @include xs {
                max-width: 800px;
                grid-gap: 12px;
            }
        }
        .healthy-list-title {
            @include text(15.36px, SVN-Jeko, 26.4px, $text-blue-cl, uppercase);
            font-weight: 700;
            text-align: center;
            margin-top: 16px;
            @include sm {
                font-size: 12.3px;
                line-height: 13.53px;
            }
            @include xs {
                font-size: 7.86px;
                line-height: 8.65px;
            }
        }
    }
    .advice {
        &__icon {
            margin-bottom: 24px;
        }
        &__content {
            p {
                @include text(24px, SVN-Jeko, 26.4px, $text-blue-cl, none);
                text-align: justify;
                @include sm {
                    font-size: 15.36px;
                    line-height: 19.97px;
                }
                @include xs {
                    font-size: 12.29px;
                    line-height: 13.52px;
                }
            }
        }
    }
    .buzzmetrics-heading {
        @include sm {
            margin-bottom: 0;
        }
    }
}
