.shopping-page {
    .shop-chart-image {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 100%;
            image-rendering: -webkit-optimize-contrast;
            transform: translateZ(0px);
            filter: blur(0px);
        }
    }
    .chart-top-shop{
        .buzzmetrics-heading{
            margin-bottom: 0;
        }
    }
    .shop-type {
        &__item {
            &-head {
                h4 {
                    @include text(
                        15.36px,
                        SVN-Jeko,
                        16.9px,
                        #ffffff,
                        uppercase
                    );
                    letter-spacing: 0.05em;
                    text-align: left;
                    font-weight: 700;
                    margin-bottom: 8px;
                    @include sm {
                        font-size: 12.3px;
                        line-height: 13.53px;
                    }
                }
            }
            &-body {
                img {
                    width: 100%;
                    image-rendering: -webkit-optimize-contrast;
                    transform: translateZ(0px);
                    filter: blur(0px);
                    box-shadow: 8px 6px 20px rgba(0, 0, 0, 0.2);
                }
            }
            @include sm {
                margin-bottom: 48px;
            }
            @include xs {
                margin-bottom: 24px;
            }
        }
        .plane-list-title {
            @include text(12.36px, SVN-Jeko, 13.53px, #ffffff, uppercase);
            font-weight: 700;
            text-align: center;
            margin-top: 16px;
            @include sm {
                font-size: 12.3px;
                line-height: 13.53px;
            }
            @include xs {
                font-size: 7.86px;
                line-height: 8.65px;
            }
        }
    }
    .necessities {
        .necessities-list-content {
            // max-width: 850px;
            width: 100%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-gap: 33.5px 120px;
            justify-content: center;
            align-content: center;
            .necessities-list-item {
                text-align: center;
                margin-bottom: 24px;
                &.--first{
                    grid-column: 2;
                }
                .necessities-list-item-img {
                    cursor: unset;
                    display: block;
                    border-radius: 12px;
                    width: 100%;
                }
                .necessities-list-item-name {
                    @include text(
                        15.36px,
                        SVN-Jeko,
                        26.4px,
                        $text-blue-cl,
                        uppercase
                    );
                    font-weight: 700;
                    margin-top: 24px;
                    margin-bottom: 8px;
                    letter-spacing: 0.05em;
                    padding: 0;
                    @include sm {
                        font-size: 12.3px;
                        line-height: 13.53px;
                    }
                    @include xs {
                        font-size: 7.86px;
                        line-height: 8.65px;
                    }
                }
                .necessities-list-item-precent {
                    @include text(24px, SVN-Jeko, 26.4px, $text-blue-cl, none);
                    font-weight: 700;
                    @include sm {
                        font-size: 19.2px;
                        line-height: 21.12px;
                    }
                    @include xs {
                        font-size: 12.3px;
                        line-height: 13.53px;
                    }
                }
            }

            @media (max-width: 1190px) and (min-width: 992px) {
                grid-gap: 40px;
            }
            @include sm {
                max-width: 800px;
                grid-gap: 25px 56px;
            }
            @include xs {
                max-width: 800px;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 0px 56px;
            }
            @media (max-width: 470px) {
                grid-gap: 0 35px;
            }
        }
        .necessities-list-title {
            @include text(15.36px, SVN-Jeko, 26.4px, $text-blue-cl, uppercase);
            font-weight: 700;
            text-align: center;
            margin-top: 16px;
            @include sm {
                font-size: 12.3px;
                line-height: 13.53px;
            }
            @include xs {
                font-size: 7.86px;
                line-height: 8.65px;
            }
        }
    }
}
