.tourism-page {
    .tourism-chart-image {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 100%;
            image-rendering: -webkit-optimize-contrast;
            transform: translateZ(0px);
            filter: blur(0px);
        }
    }
    .tourism-masthead-text {
        @include sm {
            margin-bottom: 16px !important;
        }
    }
    .tourism-masthead-title {
        @include sm {
            font-size: 19.2px;
            line-height: 23.81px;
            margin: 0;
        }
    }
    .tourism-masthead-number {
        @include sm {
            font-size: 73.24px;
            line-height: 80.56px;
            margin: 16px 0;
        }
    }
    .tourism-masthead {
        &-text {
            @include text(24px, SVN-Jeko, 124%, $white-cl, none);
            font-weight: 700;
            text-align: center;
            margin-bottom: 32px;
            @include sm {
                font-size: 15.36px;
                line-height: 19.97px;
            }
        }
        &-desc {
            @include text(24px, SVN-Jeko, 124%, $white-cl, none);
            @include sm {
                font-size: 15.36px;
                line-height: 19.97px;
            }
        }
    }
    .tourism-chart-top {
        .tourism-list-title {
            @include text(15.36px, SVN-Jeko, 26.4px, $text-blue-cl, uppercase);
            font-weight: 700;
            text-align: center;
            margin-top: 16px;
        }
        .tourism-list-content{
            max-width: 850px;
            width: 100%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 44.36px 126px;
            justify-content: center;
            .tourism-list-item {
                text-align: center;
                .tourism-list-item-img {
                    cursor: unset;
                    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
                    display: block;
                    border-radius: 12px;
                    width: 100%;
                }
                .tourism-list-item-name {
                    @include text(
                        15.36px,
                        SVN-Jeko,
                        26.4px,
                        $text-blue-cl,
                        uppercase
                    );
                    font-weight: 700;
                    margin-top: 24px;
                    margin-bottom: 8px;
                    padding: 0;
                }
                .tourism-list-item-precent {
                    @include text(24px, SVN-Jeko, 26.4px, $text-blue-cl, none);
                    font-weight: 700;
                }
            }
            @include sm{
                max-width: 800px;
                grid-gap: 35.36px 93px;
            }
            @include xs{
                max-width: 800px;
                grid-gap: 32px;
            }
        }
    }
    .tourism-chart-image {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            width: 100%;
        }
        .tourism-chart-note {
            position: absolute;
            top: -20px;
            left: 45%;
            &.--post-area {
                top: 0px;
                left: 190px;
                @include sm {
                    top: 60px;
                    width: 45%;
                    left: 175px;
                }
                @include xs {
                    width: 60%;
                    top: 95px;

                }
            }
            &.--sub-chart {
                top: unset;
                bottom: -400px;
                left: 18%;
                img {
                    width: 90%;
                }
                @include sm {
                    bottom: -270px;
                    left: 14%;
                    width: 75%;
                }
                @include xs {
                    bottom: -100px;
                }
            }
            @include sm {
                width: 32%;
            }
        }
        .img-sm {
            display: none;
            @include sm {
                display: block;
            }
            @include xs {
                display: none;
            }
        }
        .img-xs {
            display: none;
            @include xs {
                display: block !important;
            }
            @include sm {
                display: none;
            }
        }
        .img-lg {
            @include sm {
                display: none;
            }
            @include xs {
                display: none;
            }
        }
    }
    .tourism-chart-trend {
    }
    .tourism-discussion-content {
        &-text {
            @include text(24px, SVN-Jeko, 124%, $text-blue-cl, none);
            font-weight: 700;
            margin-bottom: 16px;
        }
        &-desc {
            @include text(24px, SVN-Jeko, 29.76px, $text-blue-cl, none);
            span {
                font-weight: 700;
            }
            &:last-child {
                margin-top: 16px;
            }
        }
    }
    .tourism-discussion-inner {
        @include sm {
            align-items: center;
            flex-direction: row !important;
            .tourism-discussion-box {
                .tourism-discussion-icon {
                    img {
                        width: 100%;
                    }
                }
            }
            .tourism-discussion-content-text {
                font-size: 15.36px;
                margin-bottom: 0;
            }
            .tourism-discussion-content-icon {
                margin: 16px 0;
                img {
                    width: 85%;
                }
                .tourism-discussion-content-number {
                    font-size: 30px;
                }
            }
            .tourism-discussion-content-desc {
                font-size: 15.36px;
                margin-top: 16px;
                line-height: 19.97px;
            }
        }
        @include xs {
            flex-direction: column !important;
            .tourism-discussion-content-icon {
                .tourism-discussion-content-number {
                    top: 32px;
                }
            }
            .tourism-discussion-box {
                .tourism-discussion-icon {
                    img {
                        width: 75%;
                    }
                }
            }
        }
    }
    .tourism-chart-trend {
    }
    @include sm {
        .tourism-chart-trend-heading.tourism-heading,
        .tourism-list-heading.tourism-heading,
        .tourism-chart-top-heading.tourism-heading,
        .tourism-chart-motivation-heading.tourism-heading {
            flex-direction: row !important;
        }
        .tourism-discussion-icon-text {
            font-size: 30px;
        }
        .tourism-heading {
            margin-bottom: 16px;
        }
        .tourism-heading-icon {
            img {
                width: 60px;
            }
        }
        .tourism-heading-text {
            font-size: 15.36px;
            line-height: 19.97px;
        }
        .buzzmetrics-heading-secondary {
            font-size: 30px;
        }
        .tourism-chart-top .tourism-list-title {
            font-size: 12.3px;
        }
        .tourism-list-heading.tourism-heading,
        .tourism-chart-top-heading.tourism-heading,
        .tourism-chart-motivation-heading.tourism-heading {
            .tourism-heading-icon {
                padding-right: 18px;
            }
        }
        .tourism-list-item {
            .tourism-list-item-name {
                font-size: 12.3px !important;
                line-height: 13.53px !important;
            }
            .tourism-list-item-precent {
                font-size: 19.2px !important;
            }
        }
    }
    @include xs {
        .tourism-chart-trend-heading.tourism-heading,
        .tourism-list-heading.tourism-heading {
            // flex-direction: column !important;
        }
        .tourism-heading-icon {
            img {
                width: 50px;
            }
        }
        .tourism-heading-text {
            font-size: 12.29px;
            line-height: 13.52px;
        }
        .buzzmetrics-heading-secondary {
            font-size: 24px;
        }
        .tourism-list-item {
            padding: 0;
        }
    }
    @media (max-width: 418px) {
        .tourism-list-content {
            grid-gap: 15px;
        }
    }
}
